@model FreeExp.Models.Course
@{
    ViewBag.Title = Html.DisplayFor(model => model.Name);
}
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="banner_content text-center">
                        <h2>Courses</h2>
                        <p>
                            In the history of modern astronomy, there is probably no one greater leap forward than
                            the
                            building and launch of the space telescope known as the Hubble.
                        </p>
                        <div class="page_link">
                            <a href="index.html">Home</a>
                            <a href="courses.html">Courses</a>
                            <a href="course-details.html">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================ Start Course Details Area =================-->
<section class="course_details_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 course_details_left">
                <div class="main_image">
                    <img class="img-fluid" src="img/courses/course-details.jpg" alt="">
                </div>
                <div class="content_wrapper">
                    <h4 class="title">Objectives</h4>
                    <div class="content">
                        @Html.DisplayFor(model => model.Description)

                    </div>

                    <h4 class="title">Eligibility</h4>
                    <div class="content">
                        @Html.DisplayFor(model => model.Requirments)

                    </div>
                    <ul class="nav nav-tabs" id="myForm">
                        <li class="active"><a href="#one">Course Outline</a></li>
                        <li><a href="#two">Descussion</a></li>
                        <li><a href="#three">Rate</a></li>
                    </ul>
                    <div class="content tab-content">
                        <div class="tab-pane active" id="one">
                            <ul class="course_list">
                                <li class="justify-content-between d-flex">
                                    <p>Introduction Lesson</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Basics of HTML</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Getting Know about HTML</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Tags and Attributes</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Basics of CSS</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Getting Familiar with CSS</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Introduction to Bootstrap</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Responsive Design</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Canvas in HTML 5</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>

                            </ul>
                        </div>
                        <div class="tab-pane" id="two">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-1">
                                        <img src="~/Content/img/author1.png" style="width: auto;height: 40px;border-radius: 50%;" />
                                    </div>
                                    <div class="col-md-11">
                                        <textarea type="text" class="form-control" id="Body" placeholder="Write Question" style="border-radius:20px;" rows="4"></textarea>
                                        <br />
                                        <button type="submit" class="btn btn-primary form-control" id="SubmitAsk">Ask</button>
                                        <br />
                                        <hr />
                                    </div>
                                </div>
                                @if (Model.QandAs.Count != 0)
                                {
                                    foreach (var q in Model.QandAs)
                                    {
                                        <ul>
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-1">
                                                        <img src="~/Content/img/author1.png" style="width: auto;height: 40px;border-radius: 50%;" />
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="col-md-11">
                                                    <div type="text" class="form-control" id="Body">@q.QuestionContent</div>
                                                    <div>@q.AskedAt</div>
                                                    <hr />
                                                </div>
                                                @if (q.PracticeQandAs != null)
                                                {
                                                    foreach (var pq in q.PracticeQandAs)
                                                    {
                                                        <ul>
                                                            <li>
                                                                <div class="row">
                                                                    <div class="col-md-1">
                                                                        <img src="~/Content/img/author1.png" style="width: auto;height: 40px;border-radius: 50%;" />
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="col-md-11">
                                                                    <div type="text" class="form-control" id="Body">@pq.AnswerBody</div>
                                                                    <div>@pq.AnswerDate</div>
                                                                    <hr />
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    }
                                                }
                                            </li>
                                        </ul>
                                    }
                                }
                                else
                                {
                                    <p>Be The First to Ask</p>
                                }
                            </div>
                        </div>
                        <div class="tab-pane" id="three">
                            <div class="rating" style="vertical-align:middle;">
                                <label>
                                    <input type="radio" name="rating" value="5" title="5 stars"> 5
                                </label>
                                <label>
                                    <input type="radio" name="rating" value="4" title="4 stars"> 4
                                </label>
                                <label>
                                    <input type="radio" name="rating" value="3" title="3 stars"> 3
                                </label>
                                <label>
                                    <input type="radio" name="rating" value="2" title="2 stars"> 2
                                </label>
                                <label>
                                    <input type="radio" name="rating" value="1" title="1 star"> 1
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary" id="SubmitRate">Submit Rate</button>

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 right-contents">
                <ul>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Trainer’s Name</p>
                            <span class="or">@*@Html.DisplayFor(model => model.Instructor.FName)*@Karim</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Course Level</p>
                            <span>@Html.DisplayFor(model => model.Level)</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Available Seats </p>
                            <span>15</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Schedule </p>
                            <span>2.00 pm to 4.00 pm</span>
                        </a>
                    </li>
                </ul>
                @if (ViewBag.ALreadyEnrolled == null)
                {
                    <button id="EnrollInCourse" class="primary-btn text-uppercase enroll">Enroll the course</button>
                }
                <input type="hidden" id="CurrentCourseId" value="@ViewBag.CurrentCourseId" />
                <input type="hidden" id="CurrentUserId" value="@ViewBag.CurrentUserId" />
                <h4 class="title">Reviews</h4>
                @{
                    switch (ViewBag.AvgRate)
                    {
                        case 5:
                            // Use the text block below to separate html elements from code
                            <text>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </text>
                            break;  // Always break each case
                        case 4:
                            <text>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </text>
                            break;
                        case 3:
                            <text>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </text>
                            break;
                        case 2:
                            <text>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </text>
                            break;
                        case 1:
                            <text>
                                <span class="fa fa-star checked"></span>
                            </text>
                            break;
                        default:
                            <text>
                                <h1>.</h1>
                            </text>
                            break;
                    }
                }
                <h3 class="title">Detailed Review</h3>
                @if (ViewBag.Rated5Stars != 0)
                {
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p>(@ViewBag.Rated5Stars)</p>
                }
                @if (ViewBag.Rated4Stars != 0)
                {
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p>(@ViewBag.Rated4Stars)</p>

                }
                @if (ViewBag.Rated3Stars != 0)
                {
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p>(@ViewBag.Rated3Stars)</p>

                }
                @if (ViewBag.Rated2Stars != 0)
                {
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p>(@ViewBag.Rated2Stars)</p>

                }
                @if (ViewBag.Rated1Stars != 0)
                {
                    <span class="fa fa-star checked"></span>
                    <p>(@ViewBag.Rated1Stars)</p>

                }
            </div>
        </div>
    </div>
</section>

